@import url('https://rsms.me/inter/inter.css');
@import url('https://unpkg.com/prismjs@1.20.0/themes/prism-tomorrow.css');

@import url('./partials/vars.css');
@import url('./partials/reset.css');
@import url('./partials/utility.css');

main img {
    display: block;
    margin: 1em auto;
    box-shadow: .05em .05em .4em #0002;
}

footer {
    padding-bottom: 2em;
}
