:root {
    background-color: var(--background-color-light);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-color);
}

article h1 { font-size: 2em; }
article h2 { font-size: 1.5em; }
article h3 { font-size: 1.17em; }
article h4 { font-size: 1em; }
article h5 { font-size: 0.83em; }
article h6 { font-size: 0.67em; }

body {
    margin: 0;
    padding: 0;
}

a {
    color: hsl(200, 100%, 30%);
    text-decoration-thickness: .16em;
    text-decoration-color: hsla(200, 90%, 40%, .3);
    transition: text-decoration .15s ease-in-out;

    &:hover, &:active {
        text-decoration-color: hsla(200, 100%, 30%, 1);
    }
}

img {
    max-width: 100%;
}

code {
    background-color: var(--background-color-dark);
    padding: 0 .2em;
    border-radius: .2em;
}
