.inline {
    display: inline;
}

.constrain-width {
    max-width: var(--max-width);
}

.center {
    display: block;
    margin: auto;
}

.pad {
    padding: var(--gutter-size);
}

.nolist {
    list-style: none;
    padding: 0;
}

.bg-dark {
    background-color: var(--background-color-dark);

    & a {
        color: hsl(200, 100%, 26.5%);
    }
}

.fullwidth {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.space-between {
    justify-content: space-between
}
