<footer class="bg-dark fullwidth">
    <div class="constrain-width center pad">
        <ol class="nolist fullwidth row space-between">
            <li><a href="/">Home</a></li>
            <li><a href="/getting-started/">Getting Started</a></li>
            <li><a href="/lessons">Lessons</a></li>
        </ol>
        <p>&copy; {{ page.date.getFullYear() }} Evan Rusmisel. All Rights Reserved.</p>
    </div>
</footer>
