<header class="bg-dark">
    <section class="constrain-width center pad">
        <h1>Frontend Class 2020</h1>
        <nav class="fullwidth row space-between">
            <a href="/">Home</a>
            <a href="/getting-started">Getting Started</a>
            <a href="/lessons">Lessons</a>
        </nav>
    </section>
</header>
